commands:
  01_check_chrome_installed:
    command: "google-chrome --version"
    ignoreErrors: true
  02_install_chrome:
    command: "if ! google-chrome --version; then wget https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm && sudo dnf install -y ./google-chrome-stable_current_x86_64.rpm; fi"
    test: "test ! -e /usr/bin/google-chrome"
